---
http_interactions:
- request:
    method: get
    uri: https://mobile.walmart.com/m/j?e=4&method=get&p1=&p2=%5B7239231925,7239231921%5D&p3=%5B2339%5D&p4=&p5=&p6=&p7=&p8=&p9=c4tch4spyder&service=Slap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"item":{"id":"10450920","name":"Hawaiian Punch: Fruit Juicy Red
        Drink Mix, .74 Oz","productImageUrl":"http:\/\/i.walmartimages.com\/i\/p\/00\/07\/23\/92\/31\/0007239231921_215X215.jpg","upc":"0007239231921","signingDesc":"HAW
        PUNCH SF 8CT SINGLES TO GO","sizeDesc":"8CT"},"stores":[{"distance":{"kilometers":"0.0","miles":"0.0"},"address":{"latLng":{"latitude":"40.4549","latLngValid":"true","longitude":"-86.9286"},"state":{"code":"IN","name":"Indiana"},"city":"West
        Lafayette","country":"USA","street1":"2801 Northwestern Ave","street2":"","street3":"","zip":{"code":"47906","prefix":"47906","suffix":""}},"openDate":"1996-04-24T07:00:00+0000","phone":{"allDigits":"7654630201","areaCode":"765","ext":"","prefix":"463","suffix":"0201"},"storeType":{"name":"Walmart
        Supercenter"},"stockStatus":"Limited stock ","storeId":"2339","price":"1.0","availabilityForS2S":"","storeServices":[{"phone":{"allDigits":"7654639382","areaCode":"765","ext":"","prefix":"463","suffix":"9382"},"available":"true","localServiceOnly":"false","name":"Tire
        &#38; Lube"}, {"phone":{"allDigits":"7654630201","areaCode":"765","ext":"","prefix":"463","suffix":"0201"},"available":"true","localServiceOnly":"true","name":"Subway&#174;"},
        {"phone":{"allDigits":"7654630910","areaCode":"765","ext":"","prefix":"463","suffix":"0910"},"available":"true","localServiceOnly":"false","name":"Pharmacy"},
        {"phone":{"allDigits":"7654637201","areaCode":"765","ext":"","prefix":"463","suffix":"7201"},"available":"true","localSe[...]
- request:
    method: get
    uri: https://mobile.walmart.com/m/j?e=1&method=getLocationsByUPC&p1=2339&p2=%5B7239231925,7239231921%5D&service=AisleLocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"locationsByUPC":[{"positionData":[{"zoneID":"A","aisleID":"14","sectionID":"19"}],"uPC":"7239231925"},
        {"positionData":[{"zoneID":"A","aisleID":"14","sectionID":"19"}],"uPC":"7239231921"}]}'
  recorded_at: Tue, 04 Dec 2012 06:27:01 GMT
recorded_with: VCR 2.2.3
